<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt est laudantium laborum tempore repellat accusamus magnam, enim dolor, adipisci explicabo, asperiores quod. Consectetur hic dolore, ipsam expedita temporibus nobis!</p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
  </div>
</div>