<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
      <h2>User-friendly Control panel</h2>
  </header>
 
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <img  src="images/ipad.png" alt="">
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
          <div class="media__body">
              <h3 class="media__title">Easy Start & managed updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus debitis nemo minima, distinctio libero quas velit perferendis earum animi. Quaerat!</p>
          </div>
         </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
          </div>
          <div class="media__body">
              <h3 class="media__title">Staging, Git & WP-CU</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus debitis nemo minima, distinctio libero quas velit perferendis earum animi. Quaerat!</p>
          </div>
         </div>
      </li>
      
      <li>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
          </div>
          <div class="media__body">
              <h3 class="media__title">Dynamic caching & More</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus debitis nemo minima, distinctio libero quas velit perferendis earum animi. Quaerat!</p>
          </div>
         </div>
      </li>
    </ul>
  </div>

</section>